$white:  #fff !default;
$black:  #000 !default;
$red:    #B8312F !default;
$orange: #F37934 !default;
$yellow: #FAC51C !default;
$green:  #41A85F !default;
$blue:   #2969B0 !default;
$teal:   #3D8EB9 !default;
$pink:   #EB6B56 !default;
$purple: #553982 !default;

// Create grayscale
$gray-dark:                 #28324E !default;
$gray-semidark:             #475577 !default;
$gray:                      #75706B !default;
$gray-light:                #A38F84 !default;
$gray-lighter:              #D1D5D8 !default;
$gray-lightest:             #EFEFEF !default;